# LEET CODE
## Problem-2884: Modify Columns
Class: Easy

Source: https://leetcode.com/problems/modify-columns/

## Description
DataFrame employees
| Column Name | Type   |
|-------------|--------|
| name        | object |
| salary      | int    |

A company intends to give its employees a pay rise.

## To Do
Write a solution to modify the salary column by multiplying each salary by 2.

The result format is in the following example.

## Example

Input:

DataFrame employees
| name    | salary |
|---------|--------|
| Jack    | 19666  |
| Piper   | 74754  |
| Mia     | 62509  |
| Ulysses | 54866  |

Output:
| name    | salary |
|---------|--------|
| Jack    | 39332  |
| Piper   | 149508 |
| Mia     | 125018 |
| Ulysses | 109732 |

Explanation:
- Every salary has been doubled.

## Importing

In [1]:
import pandas as pd
from typing import List

## Task

In [2]:
def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    df = employees.copy()
    df['salary'] = df.salary * 2
    return df

In [5]:
def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    return employees.assign(salary= 2*employees.salary)

In [6]:
data = {
    'name': ['Ella', 'David', 'Zachary', 'Alice',],
    'salary': [19666, 74754, 62509, 54866]
}

df = pd.DataFrame(data)

modifySalaryColumn(df)

      name  salary
0     Ella   39332
1    David  149508
2  Zachary  125018
3    Alice  109732