# LEET CODE
## Problem-2887: Fill Missing Data
Class: Easy

Source: https://leetcode.com/problems/fill_missing_data/

## Description
DataFrame products
| Column Name | Type   |
|-------------|--------|
| name        | object |
| quantity    | int    |
| price       | int    |

## To Do
Write a solution to fill in the missing value as 0 in the quantity column.

The result format is in the following example.

## Example
Input:
| name            | quantity | price |
|-----------------|----------|-------|
| Wristwatch      | 32       | 135   |
| WirelessEarbuds | None     | 821   |
| GolfClubs       | None     | 9319  |
| Printer         | 849      | 3051  |

Output:
| name            | quantity | price |
|-----------------|----------|-------|
| Wristwatch      | 32       | 135   |
| WirelessEarbuds | 0        | 821   |
| GolfClubs       | 0        | 9319  |
| Printer         | 849      | 3051  |

Explanation: 
- The quantity for Toaster and Headphones are filled by 0.

## Importing

In [4]:
import pandas as pd, numpy as np
from typing import List

## Task

In [5]:
def fillMissingValues(products: pd.DataFrame) -> pd.DataFrame:
    return products.assign(quantity = products.quantity.fillna(0))

In [6]:
data = {
    'name': ['Wristwatch', 'WirelessEarbuds', 'GolfClubs', 'Printer'],
    'quantity': [32, np.nan, np.nan, 849],
    'price': [135, 821, 9319, 3051]
}

df = pd.DataFrame(data)

fillMissingValues(df)

              name  quantity  price
0       Wristwatch      32.0    135
1  WirelessEarbuds       0.0    821
2        GolfClubs       0.0   9319
3          Printer     849.0   3051