# LEET CODE
## Problem-1683: Invalid Tweets
Class: Easy

Source: https://leetcode.com/problems/invalid-tweets/?envType=study-plan-v2&envId=top-sql-50

## Description
Table: Tweets
| Column Name    | Type    |
|----------------|---------|
| tweet_id       | int     |
| content        | varchar |

tweet_id is the primary key (column with unique values) for this table.

This table contains all the tweets in a social media app.

## To Do
Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.

The result format is in the following example.

## Example

Input: 

Tweets table:
| tweet_id | content                          |
|----------|----------------------------------|
| 1        | Vote for Biden                   |
| 2        | Let us make America great again! |

Output: 
| tweet_id |
|----------|
| 2        |

Explanation: 
- Tweet 1 has length = 14. It is a valid tweet.
- Tweet 2 has length = 32. It is an invalid tweet.

## Importing

In [1]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [2]:
data = [[1, 'Vote for Biden'], [2, 'Let us make America great again!']]
Tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})

Tweets

   tweet_id                           content
0         1                    Vote for Biden
1         2  Let us make America great again!

## Task

In [5]:
# Define the SQL query
query = """
SELECT tweet_id
FROM Tweets
WHERE LENGTH(content) > 15
;
"""

# Excute the query using pandasql
result = sqldf(query, env={'Tweets':Tweets})

# Display the result dataframe
display(result)

   tweet_id
0         2