# LEET CODE
## Program-1965: Employees With Missing Information
Class: Easy

Source: https://leetcode.com/problems/employees-with-missing-information/

## Description
Table: Employees
| Column Name | Type    |
|-------------|---------|
| employee_id | int     |
| name        | varchar |

- employee_id is the column with unique values for this table.
- Each row of this table indicates the name of the employee whose ID is employee_id.
 
Table: Salaries
| Column Name | Type    |
|-------------|---------|
| employee_id | int     |
| salary      | int     |

- employee_id is the column with unique values for this table.
- Each row of this table indicates the salary of the employee whose ID is employee_id.

## To Do
Write a solution to report the IDs of all the employees with missing information. The information of an employee is missing if:

    The employee's name is missing, or
    The employee's salary is missing.

Return the result table ordered by employee_id in ascending order.

The result format is in the following example.

## Example

Input: 

Employees table:
| employee_id | name     |
|-------------|----------|
| 2           | Crew     |
| 4           | Haven    |
| 5           | Kristian |

Salaries table:
| employee_id | salary |
|-------------|--------|
| 5           | 76071  |
| 1           | 22517  |
| 4           | 63539  |

Output: 
| employee_id |
|-------------|
| 1           |
| 2           |

Explanation: 
- Employees 1, 2, 4, and 5 are working at this company.
- The name of employee 1 is missing.
- The salary of employee 2 is missing.

## Importing

In [1]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [2]:
data = [[2, 'Crew'], [4, 'Haven'], [5, 'Kristian']]
Employees = pd.DataFrame(data, columns=['employee_id', 'name']).astype({'employee_id':'Int64', 'name':'object'})
data = [[5, 76071], [1, 22517], [4, 63539]]
Salaries = pd.DataFrame(data, columns=['employee_id', 'salary']).astype({'employee_id':'Int64', 'salary':'Int64'})

display(Employees)
display(Salaries)

   employee_id      name
0            2      Crew
1            4     Haven
2            5  Kristian

   employee_id  salary
0            5   76071
1            1   22517
2            4   63539

## Task

In [19]:
# Define the SQL query
query = """
SELECT employee_id
FROM Employees
WHERE employee_id NOT IN (SELECT employee_id FROM Salaries)
UNION
SELECT employee_id
FROM Salaries
WHERE employee_id NOT IN (SELECT employee_id FROM Employees)
ORDER BY employee_id ASC
;
"""

# Excute the query using pandasql
result = sqldf(query, env={'Employees':Employees, 'Salaries':Salaries})

# Dipslay the results dataframe
display(result)

   employee_id
0            1
1            2