# LEETCODE
## Problem-183: Customers Who Never Order

Class: Easy

Source: https://leetcode.com/problems/customers-who-never-order/

## Description
Table: Customers

| Column Name | Type    |
|-------------|---------|
| id          | int     |
| name        | varchar |

id is the primary key (column with unique values) for this table.
Each row of this table indicates the ID and name of a customer.

 

Table: Orders
| Column Name | Type |
|-------------|------|
| id          | int  |
| customerId  | int  |

id is the primary key (column with unique values) for this table.
customerId is a foreign key (reference columns) of the ID from the Customers table.
Each row of this table indicates the ID of an order and the ID of the customer who ordered it.

## To Do
Write a solution to find all customers who never order anything.

Return the result table in any order.

The result format is in the following example.

## Example

Input: 
Customers table:
| id | name  |
|----|-------|
| 1  | Joe   |
| 2  | Henry |
| 3  | Sam   |
| 4  | Max   |

Orders table:
|----|------------|
| id | customerId |
|----|------------|
| 1  | 3          |
| 2  | 1          |

Output: 
| Customers |
|-----------|
| Henry     |
| Max       |

## Importing

In [1]:
import pandas as pd

## Define Schema|

In [3]:
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
Customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
data = [[1, 3], [2, 1]]
Orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})

display(Customers)
display(Orders)

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

   id  customerId
0   1           3
1   2           1

## Task

In [6]:
def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    results = (
        customers[~customers.id.isin(orders.customerId.values)][['name']]
        .rename(columns={'name':'Customers'})
    )

    return results

find_customers(Customers, Orders)

  Customers
1     Henry
3       Max