# LEET CODE
## Problem-1890: The Latest Login In 2020
Class : Easy

Source: https://leetcode.com/problems/the-latest-login-in-2020/

## Description
Table: Logins
| Column Name    | Type     |
|----------------|----------|
| user_id        | int      |
| time_stamp     | datetime |

(user_id, time_stamp) is the primary key (combination of columns with unique values) for this table.

Each row contains information about the login time for the user with ID user_id.

## To Do
Write a solution to report the latest login for all users in the year 2020. Do not include the users who did not login in 2020.

Return the result table in any order.

The result format is in the following example.

## Example

Input: 

Logins table:
| user_id | time_stamp          |
|---------|---------------------|
| 6       | 2020-06-30 15:06:07 |
| 6       | 2021-04-21 14:06:06 |
| 6       | 2019-03-07 00:18:15 |
| 8       | 2020-02-01 05:10:53 |
| 8       | 2020-12-30 00:46:50 |
| 2       | 2020-01-16 02:49:50 |
| 2       | 2019-08-25 07:59:08 |
| 14      | 2019-07-14 09:00:00 |
| 14      | 2021-01-06 11:59:59 |

Output: 
| user_id | last_stamp          |
|---------|---------------------|
| 6       | 2020-06-30 15:06:07 |
| 8       | 2020-12-30 00:46:50 |
| 2       | 2020-01-16 02:49:50 |

Explanation: 
- User 6 logged into their account 3 times but only once in 2020, so we include this login in the result table.
- User 8 logged into their account 2 times in 2020, once in February and once in December. We include only the latest one (December) in the result table.
- User 2 logged into their account 2 times but only once in 2020, so we include this login in the result table.
- User 14 did not login in 2020, so we do not include them in the result table.

## Importing

In [1]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [2]:
data = {
    'user_id': [6, 6, 6, 8, 8, 2, 2, 14, 14],
    'time_stamp': [
        '2020-06-30 15:06:07', '2021-04-21 14:06:06', '2019-03-07 00:18:15',
        '2020-02-01 05:10:53', '2020-12-30 00:46:50', '2020-01-16 02:49:50',
        '2019-08-25 07:59:08', '2019-07-14 09:00:00', '2021-01-06 11:59:59'
    ]
}

Logins = pd.DataFrame(data)

Logins

   user_id           time_stamp
0        6  2020-06-30 15:06:07
1        6  2021-04-21 14:06:06
2        6  2019-03-07 00:18:15
3        8  2020-02-01 05:10:53
4        8  2020-12-30 00:46:50
5        2  2020-01-16 02:49:50
6        2  2019-08-25 07:59:08
7       14  2019-07-14 09:00:00
8       14  2021-01-06 11:59:59

## Task

In [5]:
# Define the SQL query
query = """
SELECT user_id, MAX(time_stamp) AS last_stamp
FROM Logins
WHERE strftime('%Y', time_stamp) = '2020'
GROUP BY user_id
;
"""


# Excute the query using pandasql
result = sqldf(query, env={'Logins':Logins,})

# Display the result dataframe
display(result)

   user_id           last_stamp
0        2  2020-01-16 02:49:50
1        6  2020-06-30 15:06:07
2        8  2020-12-30 00:46:50

In MYSQL, We will replace strftime with YEAR() function, so the query will be like

In [ ]:
"""SELECT user_id, MAX(time_stamp) AS last_stamp
FROM Logins
WHERE YEAR(time_stamp) = 2020
GROUP BY user_id
;"""