# LEET CODE
## Problem-1484: Group Sold Products By The Date
Class: Easy

Source: https://leetcode.com/problems/group-sold-products-by-the-date

## Description
Table Activities:
| Column Name | Type    |
|-------------|---------|
| sell_date   | date    |
| product     | varchar |

- There is no primary key (column with unique values) for this table. It may contain duplicates.
- Each row of this table contains the product name and the date it was sold in a market.

## To Do
Write a solution to find for each date the number of different products sold and their names.

The sold products names for each date should be sorted lexicographically.

Return the result table ordered by sell_date.

The result format is in the following example.

## Example

Input: 

Activities table:
| sell_date  | product     |
|------------|------------|
| 2020-05-30 | Headphone  |
| 2020-06-01 | Pencil     |
| 2020-06-02 | Mask       |
| 2020-05-30 | Basketball |
| 2020-06-01 | Bible      |
| 2020-06-02 | Mask       |
| 2020-05-30 | T-Shirt    |

Output: 
| sell_date  | num_sold | products                     |
|------------|----------|------------------------------|
| 2020-05-30 | 3        | Basketball,Headphone,T-shirt |
| 2020-06-01 | 2        | Bible,Pencil                 |
| 2020-06-02 | 1        | Mask                         |

Explanation: 
- For 2020-05-30, Sold items were (Headphone, Basketball, T-shirt), we sort them lexicographically and separate them by a comma.
- For 2020-06-01, Sold items were (Pencil, Bible), we sort them lexicographically and separate them by a comma.
- For 2020-06-02, the Sold item is (Mask), we just return it.

## Importing

In [1]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [3]:
data = [['2020-05-30', 'Headphone'], ['2020-06-01', 'Pencil'], ['2020-06-02', 'Mask'], ['2020-05-30', 'Basketball'], ['2020-06-01', 'Bible'], ['2020-06-02', 'Mask'], ['2020-05-30', 'T-Shirt']]
Activities = pd.DataFrame(data, columns=['sell_date', 'product']).astype({'sell_date':'datetime64[ns]', 'product':'object'})

Activities['sell_date'] = pd.to_datetime(Activities.sell_date)

Activities

   sell_date     product
0 2020-05-30   Headphone
1 2020-06-01      Pencil
2 2020-06-02        Mask
3 2020-05-30  Basketball
4 2020-06-01       Bible
5 2020-06-02        Mask
6 2020-05-30     T-Shirt

## Task

In [16]:
# Define the SQL query
query = """
SELECT 
    sell_date,
    COUNT(DISTINCT(product)) AS num_sold,
    GROUP_CONCAT(DISTINCT(product)) AS products
FROM (SELECT * FROM Activities ORDER BY product) AS a
GROUP BY sell_date
ORDER BY sell_date
;
"""

# Excute the query using pandasql
result = sqldf(query, env={'Activities':Activities})

# Display the result dataframe
display(result)

                    sell_date  num_sold                      products
0  2020-05-30 00:00:00.000000         3  Basketball,Headphone,T-Shirt
1  2020-06-01 00:00:00.000000         2                  Bible,Pencil
2  2020-06-02 00:00:00.000000         1                          Mask