# LEET CODE
## Problem-619: Biggest Single Number

Class: Easy

Source: https://leetcode.com/problems/biggest-single-number/

## Description
Table: MyNumbers
| Column Name | Type |
|-------------|------|
| num         | int  |

This table may contain duplicates (In other words, there is no primary key for this table in SQL).
Each row of this table contains an integer.

A single number is a number that appeared only once in the MyNumbers table.

## To Do
Find the largest single number. If there is no single number, report null.

The result format is in the following example.
 
## Examples
### Example 1:

Input: 

MyNumbers table:
| num |
|-----|
| 8   |
| 8   |
| 3   |
| 3   |
| 1   |
| 4   |
| 5   |
| 6   |

Output: 
| num |
|-----|
| 6   |

Explanation: The single numbers are 1, 4, 5, and 6.
Since 6 is the largest single number, we return it.

### Example 2:

Input: 

MyNumbers table:
| num |
|-----|
| 8   |
| 8   |
| 7   |
| 7   |
| 3   |
| 3   |
| 3   |

Output: 
| num  |
|------|
| null |

Explanation: There are no single numbers in the input table so we return null.

## Importing

In [1]:
import pandas as pd

## Define Schema

In [2]:
data = [[8], [8], [3], [3], [1], [4], [5], [6]]
MyNumbers = pd.DataFrame(data, columns=['num']).astype({'num':'Int64'})

MyNumbers

   num
0    8
1    8
2    3
3    3
4    1
5    4
6    5
7    6

## Task

In [9]:
def biggest_single_number(my_numbers: pd.DataFrame) -> pd.DataFrame:
    return my_numbers.drop_duplicates(keep=False).max().to_frame(name='num')

biggest_single_number(MyNumbers)

     num
num    6