# LEETCODE
## Problem-584: Find Customer Referee
Class: Easy

Source: https://leetcode.com/problems/find-customer-referee/

Table: Customer
| Column Name | Type    |
|-------------|---------|
| id          | int     |
| name        | varchar |
| referee_id  | int     |

In SQL, id is the primary key column for this table.
Each row of this table indicates the id of a customer, their name, and the id of the customer who referred them.

### TO DO:
Find the names of the customer that are not referred by the customer with id = 2.

Return the result table in any order.

The result format is in the following example.
 
Example 1:

Input: 

Customer table:
| id | name | referee_id |
|----|------|------------|
| 1  | Will | null       |
| 2  | Jane | null       |
| 3  | Alex | 2          |
| 4  | Bill | null       |
| 5  | Zack | 1          |
| 6  | Mark | 2          |

Output: 
| name |
|------|
| Will |
| Jane |
| Bill |
| Zack |

## Importing

In [1]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [2]:
data = [[1, 'Will', None], [2, 'Jane', None], [3, 'Alex', 2], [4, 'Bill', None], [5, 'Zack', 1], [6, 'Mark', 2]]
Customer = pd.DataFrame(data, columns=['id', 'name', 'referee_id']).astype({'id':'Int64', 'name':'object', 'referee_id':'Int64'})

In [3]:
Customer

   id  name  referee_id
0   1  Will        <NA>
1   2  Jane        <NA>
2   3  Alex           2
3   4  Bill        <NA>
4   5  Zack           1
5   6  Mark           2

## Task

In [6]:
# Define the SQL query
query = """
SELECT name
FROM Customer
WHERE referee_id != 2 OR referee_id IS NULL
;
"""

# Excute the SQL query using pandasql
result = sqldf(query, env={'Customer':Customer})

# Print the results dataframe
print(result)

   name
0  Will
1  Jane
2  Bill
3  Zack

In [7]:
# Define the SQL query
query = """
SELECT name
FROM Customer
WHERE COALESCE(referee_id,0) != 2
;
"""

# Excute the SQL query using pandasql
result = sqldf(query, env={'Customer':Customer})

# Print the results dataframe
print(result)

   name
0  Will
1  Jane
2  Bill
3  Zack