# LEET CODE
## Program-1729: Find Followers Count
Class: Easy

Source: https://leetcode.com/problems/find-followers-count
## Description
Table: Followers
| Column Name | Type |
|-------------|------|
| user_id     | int  |
| follower_id | int  |

-(user_id, follower_id) is the primary key (combination of columns with unique values) for this table.
-This table contains the IDs of a user and a follower in a social media app where the follower follows the user.

## To Do
Write a solution that will, for each user, return the number of followers.

Return the result table ordered by user_id in ascending order.

The result format is in the following example.

## Example

Input: 

Followers table:
| user_id | follower_id |
|---------|-------------|
| 0       | 1           |
| 1       | 0           |
| 2       | 0           |
| 2       | 1           |

Output: 
| user_id | followers_count|
|---------|----------------|
| 0       | 1              |
| 1       | 1              |
| 2       | 2              |

Explanation: 
- The followers of 0 are {1}
- The followers of 1 are {0}
- The followers of 2 are {0,1}

## Importing

In [1]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [2]:
data = {
    'user_id': [0, 1, 2, 2],
    'follower_id': [1, 0, 0, 1]
}

Followers = pd.DataFrame(data)

Followers

   user_id  follower_id
0        0            1
1        1            0
2        2            0
3        2            1

## Task

In [3]:
# Define the SQL query
query = """
SELECT user_id, COUNT(DISTINCT follower_id)AS followers_count
FROM Followers AS f1
GROUP BY user_id
ORDER BY user_id
;
"""

# Excute the query using pandasql
result = sqldf(query, env={'Followers':Followers})

# Display the result dataframe
display(result)

   user_id  followers_count
0        0                1
1        1                1
2        2                2