# HACKER RANK
## Problem: Revising Aggregations - The Sum Function
Class: Easy

Source: https://www.hackerrank.com/challenges/revising-aggregations-sum/problem?isFullScreen=true&h_r=next-challenge&h_v=zen

## Description
Query the total population of all cities in CITY where District is California. 

Input Format

The CITY table is described as follows:

![image](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

## Importing

In [1]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [2]:
# Create a list of tuples with the data
data = [
    [6, 'Rotterdam', 'NLD', 'Zuid-Holland', 593321],
    [3878, 'Scottsdale', 'USA', 'Arizona', 202705],
    [3965, 'Corona', 'USA', 'California', 124966],
    [3973, 'Concord', 'USA', 'California', 121780],
    [3977, 'Cedar Rapids', 'USA', 'Iowa', 120758],
    [3982, 'Coral Springs', 'USA', 'Florida', 117549],
    [4054, 'Fairfield', 'USA', 'California', 92256],
    [4058, 'Boulder', 'USA', 'Colorado', 91238],
    [4061, 'Fall River', 'USA', 'Massachusetts', 90555]
]

columns = ['ID', 'NAME', 'COUNTRYCODE', 'DISTRICT', 'POPULATION']

df = pd.DataFrame(data, columns=columns)

df

     ID           NAME COUNTRYCODE       DISTRICT  POPULATION
0     6      Rotterdam         NLD   Zuid-Holland      593321
1  3878     Scottsdale         USA        Arizona      202705
2  3965         Corona         USA     California      124966
3  3973        Concord         USA     California      121780
4  3977   Cedar Rapids         USA           Iowa      120758
5  3982  Coral Springs         USA        Florida      117549
6  4054      Fairfield         USA     California       92256
7  4058        Boulder         USA       Colorado       91238
8  4061     Fall River         USA  Massachusetts       90555

## Task

In [4]:
# Define the SQL query
query = """
SELECT SUM(POPULATION)
FROM CITY
WHERE DISTRICT = 'California'
;
"""

# Excute the query using pandasql
result = sqldf(query, env={'CITY':df})

# Display the result dataframe
display(result)

   SUM(POPULATION)
0           339002