# LEET CODE
## Problem-596: Classess More Than 5 Students
Class: Easy

Source: https://leetcode.com/problems/classes-more-than-5-students/

## Description
Table: Courses
| Column Name | Type    |
|-------------|---------|
| student     | varchar |
| class       | varchar |

(student, class) is the primary key (combination of columns with unique values) for this table.

Each row of this table indicates the name of a student and the class in which they are enrolled.
 
## To Do
Write a solution to find all the classes that have at least five students.

Return the result table in any order.

The result format is in the following example.

## Example
Input: 

Courses table:
| student | class    |
|---------|----------|
| A       | Math     |
| B       | English  |
| C       | Math     |
| D       | Biology  |
| E       | Math     |
| F       | Computer |
| G       | Math     |
| H       | Math     |
| I       | Math     |

Output: 
| class   |
|---------|
| Math    |

Explanation: 
- Math has 6 students, so we include it.
- English has 1 student, so we do not include it.
- Biology has 1 student, so we do not include it.
- Computer has 1 student, so we do not include it.

## Importing

In [1]:
import pandas as pd

## Define Schema

In [2]:
data = [['A', 'Math'], ['B', 'English'], ['C', 'Math'], ['D', 'Biology'], ['E', 'Math'], ['F', 'Computer'], ['G', 'Math'], ['H', 'Math'], ['I', 'Math']]
Courses = pd.DataFrame(data, columns=['student', 'class']).astype({'student':'object', 'class':'object'})

Courses

  student     class
0       A      Math
1       B   English
2       C      Math
3       D   Biology
4       E      Math
5       F  Computer
6       G      Math
7       H      Math
8       I      Math

## Task

In [9]:
def find_classes(courses: pd.DataFrame) -> pd.DataFrame:
    df = courses.groupby('class', as_index=False).agg({'student':'count'})

    return df[df.student>=5][['class']]

find_classes(Courses)

  class
3  Math

In [4]:
## Define SQL Query
query = """
SELECT class
FROM Courses
GROUP BY class
HAVING COUNT(*) >= 5
;
"""

# Excute the query using pandasql
result = sqldf(query, env={'Courses':Courses})

# Display the result dataframe
display(result)

  class
0  Math

In [ ]:
a