# LEET CODE
## Problem-1045: Customers Who Bought All Products
Class: Medium

Source: https://leetcode.com/problems/customers-who-bought-all-products

## Description
Table: Customer
| Column Name | Type    |
|-------------|---------|
| customer_id | int     |
| product_key | int     |

- This table may contain duplicates rows. 
- customer_id is not NULL.
- product_key is a foreign key (reference column) to Product table.
 
Table: Product
| Column Name | Type    |
|-------------|---------|
| product_key | int     |

product_key is the primary key (column with unique values) for this table.

## To Do
Write a solution to report the customer ids from the Customer table that bought all the products in the Product table.

Return the result table in any order.

The result format is in the following example.

## Example

Input: 

Customer table:
| customer_id | product_key |
|-------------|-------------|
| 1           | 5           |
| 2           | 6           |
| 3           | 5           |
| 3           | 6           |
| 1           | 6           |

Product table:
| product_key |
|-------------|
| 5           |
| 6           |

Output: 
| customer_id |
|-------------|
| 1           |
| 3           |

Explanation: 
- The customers who bought all the products (5 and 6) are customers with IDs 1 and 3.

## Importing

In [1]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [2]:
data = {
    'customer_id': [1, 2, 3, 3, 1],
    'product_key': [5, 6, 5, 6, 6]
}

Customer = pd.DataFrame(data)

data = {
    'product_key': [5, 6]
}

Product = pd.DataFrame(data)

display(Customer)
display(Product)

   customer_id  product_key
0            1            5
1            2            6
2            3            5
3            3            6
4            1            6

   product_key
0            5
1            6

## Task

In [3]:
# Define the SQL query
query = """
SELECT customer_id
FROM Customer
GROUP BY customer_id
HAVING COUNT(DISTINCT product_key) = (SELECT COUNT(*) FROM Product)
;
"""

# Excute the query using pandasql
result = sqldf(query, env={'Customer':Customer, 'Product':Product})

# Display the result dataframe
display(result)

   customer_id
0            1
1            3