# LEET CODE
## Problem-2879: Display the First Three Rows
Class: Easy

Source: https://leetcode.com/problems/display-the-first-three-rows/

## Description
DataFrame: employees

| Column Name | Type   |
|-------------|--------|
| employee_id | int    |
| name        | object |
| department  | object |
| salary      | int    |

Write a solution to display the first 3 rows of this DataFrame.

## Example

Input:

DataFrame employees

| employee_id | name      | department            | salary |
|-------------|-----------|-----------------------|--------|
| 3           | Bob       | Operations            | 48675  |
| 90          | Alice     | Sales                 | 11096  |
| 9           | Tatiana   | Engineering           | 33805  |
| 60          | Annabelle | InformationTechnology | 37678  |
| 49          | Jonathan  | HumanResources        | 23793  |
| 43          | Khaled    | Administration        | 40454  |

Output:

| employee_id | name    | department  | salary |
|-------------|---------|-------------|--------|
| 3           | Bob     | Operations  | 48675  |
| 90          | Alice   | Sales       | 11096  |
| 9           | Tatiana | Engineering | 33805  |

Explanation: 
- Only the first 3 rows are displayed.

## Importing

In [1]:
import pandas as pd
from typing import List

## Task

In [2]:
def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    return employees.head(3)

In [3]:
data = [[1, 2], [1, 2], [1, 3], [2, 1], [2, 2], [2, 1], [2, 1]]

selectFirstRows(pd.DataFrame(data))

   0  1
0  1  2
1  1  2
2  1  3