# LEET CODE
## Problem-2880: Select Data
Class: Easy

Source: https://leetcode.com/problems/select-data/

## Description
DataFrame students
| Column Name | Type   |
|-------------|--------|
| student_id  | int    |
| name        | object |
| age         | int    |

## To Do
Write a solution to select the name and age of the student with student_id = 101.

The result format is in the following example.

## Example

Input:

| student_id | name    | age |
|------------|---------|-----|
| 101        | Ulysses | 13  |
| 53         | William | 10  |
| 128        | Henry   | 6   |
| 3          | Henry   | 11  |

Output:

| name    | age | 
|---------|-----|
| Ulysses | 13  |

Explanation:
- Student Ulysses has student_id = 101, we select the name and age.

## Importing

In [3]:
import pandas as pd
from typing import List

## Task

In [4]:
def selectData(students: pd.DataFrame) -> pd.DataFrame:
    return students[students.student_id == 101].drop('student_id', axis=1)

In [5]:
data = [[101, 'Ulysses', 13], [53, 'William', 10], [128, 'Henry', 6], [3, 'Henry', 11]]

students = pd.DataFrame(data, columns=['student_id', 'name', 'age'])

selectData(students)

      name  age
0  Ulysses   13