# LEET CODE
## Problem-619: Biggest Single Number

Class: Easy

Source: https://leetcode.com/problems/biggest-single-number/

## Description
Table: MyNumbers
| Column Name | Type |
|-------------|------|
| num         | int  |

This table may contain duplicates (In other words, there is no primary key for this table in SQL).
Each row of this table contains an integer.

A single number is a number that appeared only once in the MyNumbers table.

## To Do
Find the largest single number. If there is no single number, report null.

The result format is in the following example.
 
## Examples
### Example 1:

Input: 

MyNumbers table:
| num |
|-----|
| 8   |
| 8   |
| 3   |
| 3   |
| 1   |
| 4   |
| 5   |
| 6   |

Output: 
| num |
|-----|
| 6   |

Explanation: The single numbers are 1, 4, 5, and 6.
Since 6 is the largest single number, we return it.

### Example 2:

Input: 

MyNumbers table:
| num |
|-----|
| 8   |
| 8   |
| 7   |
| 7   |
| 3   |
| 3   |
| 3   |

Output: 
| num  |
|------|
| null |

Explanation: There are no single numbers in the input table so we return null.

## Importing

In [2]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [3]:
data = [[8], [8], [3], [3], [1], [4], [5], [6]]
MyNumbers = pd.DataFrame(data, columns=['num']).astype({'num':'Int64'})

In [4]:
MyNumbers

   num
0    8
1    8
2    3
3    3
4    1
5    4
6    5
7    6

## Task

In [10]:
# Define the SQL query
query = """
SELECT MAX(num) as num
FROM (SELECT num
    FROM MyNumbers
    GROUP BY num
    HAVING COUNT(*)=1
    ) as single_number
;
"""

# Excute the query using pandasql
result = sqldf(query, env={'MyNumbers':MyNumbers})

# Display the result dataframe
display(result)

   num
0    6