# LEET CODE
## Problem-1789: Primary Department For Each Employee
Class: Easy

Source: https://leetcode.com/problems/primary-department-for-each-employee

## Description
Table: Employee
| Column Name   |  Type   |
|---------------|---------|
| employee_id   | int     |
| department_id | int     |
| primary_flag  | varchar |

- (employee_id, department_id) is the primary key (combination of columns with unique values) for this table.
- employee_id is the id of the employee.
- department_id is the id of the department to which the employee belongs.
- primary_flag is an ENUM (category) of type ('Y', 'N'). If the flag is 'Y', the department is the primary department for the employee. If the flag is 'N', the department is not the primary.

## To Do
Employees can belong to multiple departments. When the employee joins other departments, they need to decide which department is their primary department. Note that when an employee belongs to only one department, their primary column is 'N'.

Write a solution to report all the employees with their primary department. For employees who belong to one department, report their only department.

Return the result table in any order.

The result format is in the following example.

## Example

Input: 

Employee table:

| employee_id | department_id | primary_flag |
|-------------|---------------|--------------|
| 1           | 1             | N            |
| 2           | 1             | Y            |
| 2           | 2             | N            |
| 3           | 3             | N            |
| 4           | 2             | N            |
| 4           | 3             | Y            |
| 4           | 4             | N            |

Output: 
| employee_id | department_id |
|-------------|---------------|
| 1           | 1             |
| 2           | 1             |
| 3           | 3             |
| 4           | 3             |

Explanation: 
- The Primary department for employee 1 is 1.
- The Primary department for employee 2 is 1.
- The Primary department for employee 3 is 3.
- The Primary department for employee 4 is 3.

## Importing

In [1]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [2]:
data = [['1', '1', 'N'], ['2', '1', 'Y'], ['2', '2', 'N'], ['3', '3', 'N'], ['4', '2', 'N'], ['4', '3', 'Y'], ['4', '4', 'N']]
Employee = pd.DataFrame(data, columns=['employee_id', 'department_id', 'primary_flag']).astype({'employee_id':'Int64', 'department_id':'Int64', 'primary_flag':'object'})

Employee

   employee_id  department_id primary_flag
0            1              1            N
1            2              1            Y
2            2              2            N
3            3              3            N
4            4              2            N
5            4              3            Y
6            4              4            N

## Task

In [9]:
# Define the SQL query
query = """
SELECT 
    employee_id, 
    CASE 
        WHEN COUNT(*)>1 THEN MAX(CASE WHEN primary_flag = 'Y' THEN department_id END)
        ELSE department_id
    END AS department_id
FROM Employee
GROUP BY employee_id
HAVING department_id IS NOT NULL
;
"""

# Excute the query using pandasql
result = sqldf(query, env={'Employee':Employee})

# Display the result dataframe
display(result)

   employee_id  department_id
0            1              1
1            2              1
2            3              3
3            4              3