# LEET CODE
## Problem-180: Consecutive Numbers

Class: Medium

Source: https://leetcode.com/problems/consecutive-numbers

## Description
Table: Logs
| Column Name | Type    |
|-------------|---------|
| id          | int     |
| num         | varchar |

- In SQL, id is the primary key for this table.
- id is an autoincrement column.

## To Do
Find all numbers that appear at least three times consecutively.

Return the result table in any order.

The result format is in the following example.

## Example

Input: 

Logs table:
| id | num |
|----|-----|
| 1  | 1   |
| 2  | 1   |
| 3  | 1   |
| 4  | 2   |
| 5  | 1   |
| 6  | 2   |
| 7  | 2   |

Output: 
| ConsecutiveNums |
|-----------------|
| 1               |

Explanation: 1 is the only number that appears consecutively for at least three times.

## Importing

In [3]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [2]:
data = {
    'id': [1, 2, 3, 4, 5, 6, 7],
    'num': [1, 1, 1, 2, 1, 2, 2]
}

Logs = pd.DataFrame(data)

Logs

   id  num
0   1    1
1   2    1
2   3    1
3   4    2
4   5    1
5   6    2
6   7    2

## Task

In [9]:
# Define the SQL query
query = """
SELECT DISTINCT num AS ConsecutiveNums
FROM (
    SELECT 
        num,
        LAG(num, 1) OVER (ORDER BY id) AS prev_num,
        LEAD(num, 1) OVER (ORDER BY id) AS next_num
    FROM Logs
) AS l
WHERE num = prev_num 
AND num = next_num
;
"""

# Excute the query using pandasql
result = sqldf(query, env={'Logs':Logs})

# Display the result dataframe
display(result)

   ConsecutiveNums
0                1