# LEET CODE
## Problem-1193: Monthly Transactions I
Class: Medium

Source: https://leetcode.com/problems/monthly-transactions-i

## Description
Table: Transactions
| Column Name   | Type    |
|---------------|---------|
| id            | int     |
| country       | varchar |
| state         | enum    |
| amount        | int     |
| trans_date    | date    |

- id is the primary key of this table.
- The table has information about incoming transactions.
- The state column is an enum of type ["approved", "declined"].

## To Do
Write an SQL query to find for each month and country, the number of transactions and their total amount, the number of approved transactions and their total amount.

Return the result table in any order.

The query result format is in the following example.

## Example

Input: 

Transactions table:
| id   | country | state    | amount | trans_date |
|------|---------|----------|--------|------------|
| 121  | US      | approved | 1000   | 2018-12-18 |
| 122  | US      | declined | 2000   | 2018-12-19 |
| 123  | US      | approved | 2000   | 2019-01-01 |
| 124  | DE      | approved | 2000   | 2019-01-07 |

Output: 
| month    | country | trans_count | approved_count | trans_total_amount | approved_total_amount |
|----------|---------|-------------|----------------|--------------------|-----------------------|
| 2018-12  | US      | 2           | 1              | 3000               | 1000                  |
| 2019-01  | US      | 1           | 1              | 2000               | 2000                  |
| 2019-01  | DE      | 1           | 1              | 2000               | 2000                  |

## Importing

In [1]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [2]:
data = {
    'id': [121, 122, 123, 124],
    'country': ['US', 'US', 'US', 'DE'],
    'state': ['approved', 'declined', 'approved', 'approved'],
    'amount': [1000, 2000, 2000, 2000],
    'trans_date': [
        '2018-12-18',
        '2018-12-19',
        '2019-01-01',
        '2019-01-07'
    ]
}

Transactions = pd.DataFrame(data)
Transactions['trans_date'] = pd.to_datetime(Transactions['trans_date'])

Transactions

    id country     state  amount trans_date
0  121      US  approved    1000 2018-12-18
1  122      US  declined    2000 2018-12-19
2  123      US  approved    2000 2019-01-01
3  124      DE  approved    2000 2019-01-07

## Task

In [5]:
# Define the SQL query
query = """
SELECT 
    strftime('%Y-%m', trans_date) AS month,
    country,
    COUNT(*) AS trans_count,
    SUM(CASE WHEN state = 'approved' THEN 1 ELSE 0 END) AS approved_count,
    SUM(amount) AS trans_total_amount,
    SUM(CASE WHEN state = 'approved' THEN amount ELSE 0 END) AS approved_total_amount
FROM Transactions
GROUP BY month, country
;
"""

# Excute the query using pandasql
result = sqldf(query, env={'Transactions':Transactions})

# Display the result dataframe
display(result)

,month,country,trans_count,approved_count,trans_total_amount,approved_total_amount
0,2018-12,US,2,1,3000,1000
1,2019-01,DE,1,1,2000,2000
2,2019-01,US,1,1,2000,2000

In [7]:
## For MYSQL submission: 
"""
SELECT 
    DATE_FORMAT(trans_date, '%Y-%m') AS month,
    country,
    COUNT(*) AS trans_count,
    SUM(CASE WHEN state = 'approved' THEN 1 ELSE 0 END) AS approved_count,
    SUM(amount) AS trans_total_amount,
    SUM(CASE WHEN state = 'approved' THEN amount ELSE 0 END) AS approved_total_amount
FROM Transactions
GROUP BY month, country
;
"""

"\nSELECT \n    DATE_FORMAT(trans_date, '%Y-%m') AS month,\n    country,\n    COUNT(*) AS trans_count,\n    SUM(CASE WHEN state = 'approved' THEN 1 ELSE 0 END) AS approved_count,\n    SUM(amount) AS trans_total_amount,\n    SUM(CASE WHEN state = 'approved' THEN amount ELSE 0 END) AS approved_total_amount\nFROM Transactions\nGROUP BY month, country\n;\n"