# LEET CODE
## Problem-610: Triangle Judgement
Class: Easy

Source: https://leetcode.com/problems/triangle-judgement/

## Description
Table: Triangle
| Column Name | Type |
|-------------|------|
| x           | int  |
| y           | int  |
| z           | int  |

In SQL, (x, y, z) is the primary key column for this table.

Each row of this table contains the lengths of three line segments.
 
## To Do
Report for every three line segments whether they can form a triangle.

Return the result table in any order.

The result format is in the following example.

## Example

Input: 

Triangle table:
| x  | y  | z  |
|----|----|----|
| 13 | 15 | 30 |
| 10 | 20 | 15 |

Output: 
| x  | y  | z  | triangle |
|----|----|----|----------|
| 13 | 15 | 30 | No       |
| 10 | 20 | 15 | Yes      |

## Importing

In [1]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [2]:
data = [[13, 15, 30], [10, 20, 15]]
Triangle = pd.DataFrame(data, columns=['x', 'y', 'z']).astype({'x':'Int64', 'y':'Int64', 'z':'Int64'})

In [3]:
Triangle

    x   y   z
0  13  15  30
1  10  20  15

## Task

In [5]:
## Define SQL Query
query = """
SELECT *, 
CASE
    WHEN x+y>z AND x+z>y AND y+z>x THEN 'Yes'
    ELSE 'No'
END AS triangle
FROM Triangle
;
"""

# Excute the query using pandasql
result = sqldf(query, env={'Triangle':Triangle})

# Display the result dataframe
display(result)

    x   y   z triangle
0  13  15  30       No
1  10  20  15      Yes