# LEET CODE
## Problem-1050: Actors and Directors Who Cooperated At Least Three Times
Class: Easy

Source: https://leetcode.com/problems/actors-and-directors-who-cooperated-at-least-three-times/

## Description
Table: ActorDirector

| Column Name | Type    |
|-------------|---------|
| actor_id    | int     |
| director_id | int     |
| timestamp   | int     |

timestamp is the primary key (column with unique values) for this table.

 
## To Do
Write a solution to find all the pairs (actor_id, director_id) where the actor has cooperated with the director at least three times.

Return the result table in any order.

The result format is in the following example.

## Example

Input: 

ActorDirector table:
| actor_id    | director_id | timestamp   |
|-------------|-------------|-------------|
| 1           | 1           | 0           |
| 1           | 1           | 1           |
| 1           | 1           | 2           |
| 1           | 2           | 3           |
| 1           | 2           | 4           |
| 2           | 1           | 5           |
| 2           | 1           | 6           |

Output: 
| actor_id    | director_id |
|-------------|-------------|
| 1           | 1           |

Explanation: The only pair is (1, 1) where they cooperated exactly 3 times.

## Importing

In [1]:
import pandas as pd

## Define Schema

In [2]:
data = [[1, 1, 0], [1, 1, 1], [1, 1, 2], [1, 2, 3], [1, 2, 4], [2, 1, 5], [2, 1, 6]]
ActorDirector = pd.DataFrame(data, columns=['actor_id', 'director_id', 'timestamp']).astype({'actor_id':'int64', 'director_id':'int64', 'timestamp':'int64'})

ActorDirector

   actor_id  director_id  timestamp
0         1            1          0
1         1            1          1
2         1            1          2
3         1            2          3
4         1            2          4
5         2            1          5
6         2            1          6

In [3]:
data = {
    'actor_id': [3, 4, 4, 5, 4, 4],
    'director_id': [5, 2, 5, 3, 5, 3],
    'timestamp': [1, 0, 5, 7, 3, 8]
}

ActorDirector_2 = pd.DataFrame(data)

ActorDirector_2

   actor_id  director_id  timestamp
0         3            5          1
1         4            2          0
2         4            5          5
3         5            3          7
4         4            5          3
5         4            3          8

## Task

In [12]:
def actors_and_directors(actor_director: pd.DataFrame) -> pd.DataFrame:
    actors_log = actor_director.groupby(['actor_id', 'director_id'], as_index=False).agg(num_coop = ('timestamp', 'count'))

    # Filter only having larger than 3
    actors_log = actors_log[actors_log.num_coop >= 3][['actor_id', 'director_id']]
    
    return actors_log

actors_and_directors(ActorDirector)

   actor_id  director_id
0         1            1

In [13]:
actors_and_directors(ActorDirector_2)

Empty DataFrame
Columns: [actor_id, director_id]
Index: []