# LEET CODE
## Problem-2082: The Number of Rich Customers
Class: Easy

Source: https://leetcode.com/problems/the-number-of-rich-customers/

## Description
Table: Store
| Column Name | Type |
|-------------|------|
| bill_id     | int  |
| customer_id | int  |
| amount      | int  |

bill_id is the primary key (column with unique values) for this table.

Each row contains information about the amount of one bill and the customer associated with it.
 
## To Do
Write a solution to report the number of customers who had at least one bill with an amount strictly greater than 500.

The result format is in the following example.

## Example
Input: 

Store table:
| bill_id | customer_id | amount |
|---------|-------------|--------|
| 6       | 1           | 549    |
| 8       | 1           | 834    |
| 4       | 2           | 394    |
| 11      | 3           | 657    |
| 13      | 3           | 257    |

Output: 
| rich_count |
|------------|
| 2          |

Explanation: 
- Customer 1 has two bills with amounts strictly greater than 500.
- Customer 2 does not have any bills with an amount strictly greater than 500.
- Customer 3 has one bill with an amount strictly greater than 500.

## Importing

In [1]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [2]:
data = [[6, 1, 549], [8, 1, 834], [4, 2, 394], [11, 3, 657], [13, 3, 257]]
Store = pd.DataFrame(data, columns=['bill_id', 'customer_id', 'amount']).astype({'bill_id':'int64', 'customer_id':'int64', 'amount':'int64'})

In [3]:
Store

   bill_id  customer_id  amount
0        6            1     549
1        8            1     834
2        4            2     394
3       11            3     657
4       13            3     257

## Task

In [12]:
# Define the SQL query
query = """
SELECT COUNT(id) as rich_count
FROM ( SELECT DISTINCT(customer_id) as id
    FROM Store
    WHERE amount > 500
) as rich_id
;
"""

# Excute the query using pandasql
result = sqldf(query, env={'Store':Store})

# Display the result dataframe
display(result)

   rich_count
0           2

### Another Solution

In [14]:
# Define the SQL query
query = """
select count(distinct customer_id) as rich_count 
from Store
where amount > 500
;
"""

# Excute the query using pandasql
result = sqldf(query, env={'Store':Store})

# Display the result dataframe
display(result)

   rich_count
0           2