# LEET CODE
## Problem-586: Customer Placing The Largest Number of Orders
Class: Easy

Source: https://leetcode.com/problems/customer-placing-the-largest-number-of-orders/

## Description
Table: Orders
| Column Name     | Type     |
|-----------------|----------|
| order_number    | int      |
| customer_number | int      |

order_number is the primary key (column with unique values) for this table.
This table contains information about the order ID and the customer ID.

 
## To Do
Write a solution to find the customer_number for the customer who has placed the largest number of orders.

The test cases are generated so that exactly one customer will have placed more orders than any other customer.

The result format is in the following example.

## Example
Input: 

Orders table:
| order_number | customer_number |
|--------------|-----------------|
| 1            | 1               |
| 2            | 2               |
| 3            | 3               |
| 4            | 3               |

Output: 
| customer_number |
|-----------------|
| 3               |

Explanation: 
- The customer with number 3 has two orders, which is greater than either customer 1 or 2 because each of them only has one order. 
- So the result is customer_number 3.

## Importing

In [1]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [2]:
data = [[1, 1], [2, 2], [3, 3], [4, 3]]
orders = pd.DataFrame(data, columns=['order_number', 'customer_number']).astype({'order_number':'Int64', 'customer_number':'Int64'})

In [3]:
orders

   order_number  customer_number
0             1                1
1             2                2
2             3                3
3             4                3

## Task

In [16]:
# Define the SQL query
query = """
SELECT customer_number 
FROM
    (SELECT customer_number, count(*) as counts
    FROM Orders
    GROUP BY customer_number
    ORDER BY counts DESC LIMIT 1) 
as customer_count;
"""

# Excure the query using pandasql
result = sqldf(query, env={'Orders':orders})

# Display the result dataframe
display(result)

   customer_number
0                3

### Another Solution

In [17]:
# Define the SQL query
query = """
SELECT customer_number
FROM Orders
GROUP BY customer_number
ORDER BY count(*) DESC LIMIT 1
"""

# Excure the query using pandasql
result = sqldf(query, env={'Orders':orders})

# Display the result dataframe
display(result)

   customer_number
0                3