# LEET CODE
## Problem-1517: Find Users With Valid E-mails
Class: Easy

Source: https://leetcode.com/problems/find-users-with-valid-e-mails

## Description
Table: Users

| Column Name   | Type    |
|---------------|---------|
| user_id       | int     |
| name          | varchar |
| mail          | varchar |

- user_id is the primary key (column with unique values) for this table.
- This table contains information of the users signed up in a website. Some e-mails are invalid.

## To Do
Write a solution to find the users who have valid emails.

A valid e-mail has a prefix name and a domain where:

    The prefix name is a string that may contain letters (upper or lower case), digits, underscore '_', period '.', and/or dash '-'. The prefix name must start with a letter.
    The domain is '@leetcode.com'.

Return the result table in any order.

The result format is in the following example.

## Example

Input: 

Users table:
| user_id | name      | mail                    |
|---------|-----------|-------------------------|
| 1       | Winston   | winston@leetcode.com    |
| 2       | Jonathan  | jonathanisgreat         |
| 3       | Annabelle | bella-@leetcode.com     |
| 4       | Sally     | sally.come@leetcode.com |
| 5       | Marwan    | quarz#2020@leetcode.com |
| 6       | David     | david69@gmail.com       |
| 7       | Shapiro   | .shapo@leetcode.com     |

Output: 
| user_id | name      | mail                    |
|---------|-----------|-------------------------|
| 1       | Winston   | winston@leetcode.com    |
| 3       | Annabelle | bella-@leetcode.com     |
| 4       | Sally     | sally.come@leetcode.com |

Explanation: 
- The mail of user 2 does not have a domain.
- The mail of user 5 has the # sign which is not allowed.
- The mail of user 6 does not have the leetcode domain.
- The mail of user 7 starts with a period.

## Importing

In [1]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [2]:
data = [[1, 'Winston', 'winston@leetcode.com'], [2, 'Jonathan', 'jonathanisgreat'], [3, 'Annabelle', 'bella-@leetcode.com'], [4, 'Sally', 'sally.come@leetcode.com'], [5, 'Marwan', 'quarz#2020@leetcode.com'], [6, 'David', 'david69@gmail.com'], [7, 'Shapiro', '.shapo@leetcode.com']]
Users = pd.DataFrame(data, columns=['user_id', 'name', 'mail']).astype({'user_id':'int64', 'name':'object', 'mail':'object'})

Users

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
1        2   Jonathan          jonathanisgreat
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com
4        5     Marwan  quarz#2020@leetcode.com
5        6      David        david69@gmail.com
6        7    Shapiro      .shapo@leetcode.com

## Task

In [17]:
# Define the SQL query
query = """
SELECT user_id, name, mail
FROM Users
WHERE mail REGEXP '^[A-Za-z][A-Za-z0-9_\.\-]*@leetcode(\\?com)?\\.com$'
"""

# Excute the query using pandasql
result = sqldf(query, env={'Users':Users})

# Display the result dataframe
display(result)

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
1        3  Annabelle      bella-@leetcode.com
2        4      Sally  sally.come@leetcode.com

    ^[A-Za-z]: This part matches the start of the string and ensures that the email address starts with a letter (uppercase or lowercase).

    [A-Za-z0-9_\.\-]*: This part matches zero or more occurrences of letters, digits, underscores '_', periods '.', or dashes '-' in the email address.

    @leetcode: This part matches the literal string "@leetcode".

    (\\?com)?: This is an optional group enclosed in parentheses. It matches the literal string "?com" if it appears. The double backslashes are used to escape the question mark.

    \\.com: This part matches the literal string ".com".

    $: This matches the end of the string.