# LEET CODE
## Problem-197: Rising Temperature
Class: Easy

Source:https://leetcode.com/problems/rising-temperature/

## Description
Table: Weather

| Column Name   | Type    |
|---------------|---------|
| id            | int     |
| recordDate    | date    |
| temperature   | int     |

In SQL, id is the primary key for this table.

This table contains information about the temperature on a certain day.

 
## To Do:
Find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

The result format is in the following example.


## Example
Input: 

Weather table:
| id | recordDate | temperature |
|----|------------|-------------|
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |

Output: 
| id |
|----|
| 2  |
| 4  |

Explanation: 

- In 2015-01-02, the temperature was higher than the previous day (10 -> 25).

- In 2015-01-04, the temperature was higher than the previous day (20 -> 30).

## Importing

In [1]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [2]:
data = [[1, '2015-01-01', 10], [2, '2015-01-02', 25], [3, '2015-01-03', 20], [4, '2015-01-04', 30]]
Weather = pd.DataFrame(data, columns=['id', 'recordDate', 'temperature']).astype({'id':'Int64', 'recordDate':'datetime64[ns]', 'temperature':'Int64'})

In [28]:
Weather

   id recordDate  temperature
0   1 2015-01-01           10
1   2 2015-01-02           25
2   3 2015-01-03           20
3   4 2015-01-04           30

## Task

This is the submitted solution in leetcode, but will not run using sqldf, and that's because pandas sql uses SQL Lite, which doesn't not support function like date_diff

In [ ]:
# Define the SQL query
query="""
SELECT w1.id as Id
FROM Weather AS w1, Weather AS w2
WHERE DATEDIFF(w1.recordDate, w2.recordDate) = 1
AND w1.temperature > w2.temperature
"""

# Excute the query using pandasql
result = sqldf(query, env={'Weather':Weather})

# Display the result dataframe
display(result)

For SQL Lite Equivilent, we will use JULIANDAY to convert date into days number.

In [31]:
# Define the SQL query
query="""
SELECT w1.id as Id
FROM Weather AS w1, Weather AS w2
WHERE JULIANDAY(w1.recordDate) -  JULIANDAY(w2.recordDate) = 1
AND w1.temperature > w2.temperature
"""

# Excute the query using pandasql
result = sqldf(query, env={'Weather':Weather})

# Display the result dataframe
display(result)

   Id
0   2
1   4

### Another solution

In [32]:
# Define the SQL query
query="""
SELECT w1.id
FROM Weather w1
JOIN Weather w2 
ON JULIANDAY(w1.recordDate) = JULIANDAY(w2.recordDate) + 1
WHERE w1.temperature > w2.temperature

"""

# Excute the query using pandasql
result = sqldf(query, env={'Weather':Weather})

# Display the result dataframe
display(result)

   id
0   2
1   4