# LEETCODE
## Problem-182: Duplicate Emails
Class: Easy

Source: https://leetcode.com/problems/duplicate-emails/

### Description
Table: Person
| Column Name | Type    |
|-------------|---------|
| id          | int     |
| email       | varchar |

id is the primary key column for this table.
Each row of this table contains an email. The emails will not contain uppercase letters.

### To Do
Write an SQL query to report all the duplicate emails. Note that it's guaranteed that the email field is not NULL.

Return the result table in any order.

The query result format is in the following example.

Example 1:

Input: 
Person table:
| id | email   |
|----|---------|
| 1  | a@b.com |
| 2  | c@d.com |
| 3  | a@b.com |

Output: 
| Email   |
|---------|
| a@b.com |

Explanation: a@b.com is repeated two times.

## Importing

In [1]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [2]:
data = {
    'id': [1, 2, 3],
    'email': ['a@b.com', 'c@d.com', 'a@b.com']
}

df = pd.DataFrame(data)

In [3]:
df

   id    email
0   1  a@b.com
1   2  c@d.com
2   3  a@b.com

## Task

In [5]:
# Define the SQL query
query = """
    -- Implement your solution here
SELECT email 
FROM Person 
GROUP BY email
HAVING COUNT(*) > 1
"""

# Execute the SQL query using pandasql
result = sqldf(query, env={'Person': df})

# Print the result DataFrame
display(result)

     email
0  a@b.com

### Another Solution

In [6]:
# Define the SQL query
query = """
    -- Implement your solution here
SELECT DISTINCT(p1.Email)
FROM Person AS p1
INNER JOIN Person AS p2 USING(email)
WHERE p1.id != P2.id
"""

# Execute the SQL query using pandasql
result = sqldf(query, env={'Person': df})

# Print the result DataFrame
display(result)

     email
0  a@b.com