# LEETCODE
## Problem-196. Delete Duplicate Emails
Class: Easy

Source: https://leetcode.com/problems/delete-duplicate-emails/

Table: Person
| Column Name | Type    |
|-------------|---------|
| id          | int     |
| email       | varchar |

id is the primary key (column with unique values) for this table.
Each row of this table contains an email. The emails will not contain uppercase letters.

 
## TO DO: 
Write a solution to delete all duplicate emails, keeping only one unique email with the smallest id.

For SQL users, please note that you are supposed to write a DELETE statement and not a SELECT one.

For Pandas users, please note that you are supposed to modify Person in place.

After running your script, the answer shown is the Person table. The driver will first compile and run your piece of code and then show the Person table. The final order of the Person table does not matter.

The result format is in the following example.

### Example 1:

Input:

Person table:
| id | email            |
|----|------------------|
| 1  | john@example.com |
| 2  | bob@example.com  |
| 3  | john@example.com |

Output: 
| id | email            |
|----|------------------|
| 1  | john@example.com |
| 2  | bob@example.com  |

Explanation: john@example.com is repeated two times. We keep the row with the smallest Id = 1.

# Importing

In [1]:
import pandas as pd

# Schema

In [2]:
data = [[1, 'john@example.com'], [2, 'bob@example.com'], [3, 'john@example.com']]
Person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'int64', 'email':'object'})

In [3]:
Person

   id             email
0   1  john@example.com
1   2   bob@example.com
2   3  john@example.com

## Task

This solution does not change the input dataframe in place

In [13]:
# Modify Person in place
def delete_duplicate_emails(person: pd.DataFrame) -> None:
    person = (
        person.groupby('email', as_index=False)
        .agg({'id':'min'})
        [['id', 'email']]
    )

    return person

In [14]:
delete_duplicate_emails(Person)

   id             email
0   2   bob@example.com
1   1  john@example.com

### Modified Solution to be inplace

In [16]:
# Modify Person in place
def delete_duplicate_emails(person: pd.DataFrame) -> None:
    
    # Sort the rows based on id (Ascending order)
    person.sort_values(by='id', ascending=True, inplace=True)

    # Drop the duplicated based on email
    person.drop_duplicates(subset='email', keep='first', inplace=True)

In [17]:
delete_duplicate_emails(Person)

In [18]:
Person

   id             email
0   1  john@example.com
1   2   bob@example.com