# LEET CODE
## Problem-1667: Fix Names in a Table
Class: Easy

Source: https://leetcode.com/problems/fix-names-in-a-table

## Description
Table: Users
| Column Name    | Type    |
|----------------|---------|
| user_id        | int     |
| name           | varchar |

- user_id is the primary key (column with unique values) for this table.
- This table contains the ID and the name of the user. The name consists of only lowercase and uppercase characters.

## To Do
Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.

Return the result table ordered by user_id.

The result format is in the following example.

## Example

Input: 

Users table:
| user_id | name  |
|---------|-------|
| 1       | aLice |
| 2       | bOB   |

Output: 
| user_id | name  |
|---------|-------|
| 1       | Alice |
| 2       | Bob   |

## Importing

In [1]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [2]:
data = [[1, 'aLice'], [2, 'bOB']]
Users = pd.DataFrame(data, columns=['user_id', 'name']).astype({'user_id':'Int64', 'name':'object'})

Users

   user_id   name
0        1  aLice
1        2    bOB

## Task

In [17]:
# Define the SQL query
query = """
SELECT 
    user_id, 
    UPPER(SUBSTRING(name, 1, 1)) || SUBSTRING(LOWER(name), 2) AS name
FROM Users
ORDER BY user_id
;
"""

# Excute the query using pandasql
result = sqldf(query, env={'Users':Users})

# Display the result dataframe
display(result)

   user_id   name
0        1  Alice
1        2    Bob

In [16]:
## In mysql for submssion:
"""
SELECT 
    user_id, 
    CONCAT(UPPER(SUBSTRING(name, 1, 1)), SUBSTRING(LOWER(name), 2)) AS name
FROM Users
ORDER BY user_id
;
"""

'\nSELECT \n    user_id, \n    CONCAT(UPPER(SUBSTRING(name, 1, 1)), SUBSTRING(LOWER(name), 2)) AS name\nFROM Users\nORDER BY user_id\n;\n'