# LEETCODE
## Problem-511. Game Play Analysis I
Class: Easy

Source: https://leetcode.com/problems/game-play-analysis-i/ 


Table: Activity

| Column Name  | Type    |
|--------------|---------|
| player_id    | int     |
| device_id    | int     |
| event_date   | date    |
| games_played | int     |

(player_id, event_date) is the primary key (combination of columns with unique values) of this table.
This table shows the activity of players of some games.
Each row is a record of a player who logged in and played a number of games (possibly 0) before logging out on someday using some device.

### TO DO:
Write a solution to find the first login date for each player.

Return the result table in any order.

The result format is in the following example.

Example #1:

Input: 
Activity table:

| player_id | device_id | event_date | games_played |
|-----------|-----------|------------|--------------|
| 1         | 2         | 2016-03-01 | 5            |
| 1         | 2         | 2016-05-02 | 6            |
| 2         | 3         | 2017-06-25 | 1            |
| 3         | 1         | 2016-03-02 | 0            |
| 3         | 4         | 2018-07-03 | 5            |

Output: 

| player_id | first_login |
|-----------|-------------|
| 1         | 2016-03-01  |
| 2         | 2017-06-25  |
| 3         | 2016-03-02  |

# Importing Libararies

In [8]:
import pandas as pd
from pandasql import sqldf

# Schema

In [3]:
data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-05-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
Activity = pd.DataFrame(
    data, 
    columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({
        'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'
        })

In [4]:
Activity

   player_id  device_id event_date  games_played
0          1          2 2016-03-01             5
1          1          2 2016-05-02             6
2          2          3 2017-06-25             1
3          3          1 2016-03-02             0
4          3          4 2018-07-03             5

# Task: Find the first login date for each player.

In [9]:
# Define the SQL query
query = """
    -- Implement your solution here
SELECT player_id, MIN(event_date) AS first_login
FROM Activity
GROUP BY player_id
;
"""

# Execute the SQL query using pandasql
result = sqldf(query, env={'Activity': Activity})

# Print the result DataFrame
print(result)

   player_id                 first_login
0          1  2016-03-01 00:00:00.000000
1          2  2017-06-25 00:00:00.000000
2          3  2016-03-02 00:00:00.000000