# LEET CODE
## Problem-1527: Patients With a Condtion
Class: Easy

Source: https://leetcode.com/problems/patients-with-a-condition

## Description
Table: Patients

| Column Name  | Type    |
|--------------|---------|
| patient_id   | int     |
| patient_name | varchar |
| conditions   | varchar |

- patient_id is the primary key (column with unique values) for this table.
- 'conditions' contains 0 or more code separated by spaces. 
- This table contains information of the patients in the hospital.

## To Do
Write a solution to find the patient_id, patient_name, and conditions of the patients who have Type I Diabetes. Type I Diabetes always starts with DIAB1 prefix.

Return the result table in any order.

The result format is in the following example.

## Example

Input: 

Patients table:

| patient_id | patient_name | conditions   |
|------------|--------------|--------------|
| 1          | Daniel       | YFEV COUGH   |
| 2          | Alice        |              |
| 3          | Bob          | DIAB100 MYOP |
| 4          | George       | ACNE DIAB100 |
| 5          | Alain        | DIAB201      |

Output: 
| patient_id | patient_name | conditions   |
|------------|--------------|--------------|
| 3          | Bob          | DIAB100 MYOP |
| 4          | George       | ACNE DIAB100 | 

Explanation: Bob and George both have a condition that starts with DIAB1.

## Importing

In [1]:
import pandas as pd
from pandasql import sqldf

## Define Schema

In [2]:
data = [[1, 'Daniel', 'YFEV COUGH'], [2, 'Alice', ''], [3, 'Bob', 'DIAB100 MYOP'], [4, 'George', 'ACNE DIAB100'], [5, 'Alain', 'DIAB201']]
Patients = pd.DataFrame(data, columns=['patient_id', 'patient_name', 'conditions']).astype({'patient_id':'int64', 'patient_name':'object', 'conditions':'object'})

Patients

   patient_id patient_name    conditions
0           1       Daniel    YFEV COUGH
1           2        Alice
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100
4           5        Alain       DIAB201

## Task

In [7]:
# Define the SQL query
query = """
SELECT patient_id, patient_name, conditions
FROM Patients
WHERE conditions LIKE 'DIAB1%'
OR conditions LIKE '% DIAB1%'
;
"""

# Excute the query using pandasql
result = sqldf(query, env={'Patients':Patients})

# Display the result dataframe
display(result)

   patient_id patient_name    conditions
0           3          Bob  DIAB100 MYOP
1           4       George  ACNE DIAB100