# LEETCODE
## Problem-196. Delete Duplicate Emails
Link: https://leetcode.com/problems/delete-duplicate-emails/

In [1]:
import pandas as pd
from pandasql import sqldf

In [2]:
data = [[1, 'john@example.com'], [2, 'bob@example.com'], [3, 'john@example.com']]
Person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'int64', 'email':'object'})

In [3]:
Person

   id             email
0   1  john@example.com
1   2   bob@example.com
2   3  john@example.com

### SELECT Unique email

In [16]:
# Define the SQL query
query = """
    -- Implement your solution here
SELECT * FROM PERSON 
WHERE id IN (    
SELECT MIN(id)
FROM Person
GROUP BY email
)
"""

# Execute the SQL query using pandasql
result = sqldf(query, env={'Person': Person})

# Print the result DataFrame
print(result)

   id             email
0   1  john@example.com
1   2   bob@example.com

### Delete duplicated rows

In [25]:
# Define the SQL query
query = """
    -- Implement your solution here
with cte AS (SELECT * FROM Person)
DELETE FROM Person 
WHERE id NOT IN 
(SELECT MIN(id) FROM cte GROUP BY email)
"""

# Execute the SQL query using pandasql
result = sqldf(query, env={'Person': Person})

# Print the result DataFrame
print(result)

None

### Dropped duplicated rows

In [26]:
# Define the SQL query
query = """
    -- Implement your solution here
with cte AS (SELECT * FROM Person)
SELECT * FROM Person 
WHERE id NOT IN 
(SELECT MIN(id) FROM cte GROUP BY email)
"""

# Execute the SQL query using pandasql
result = sqldf(query, env={'Person': Person})

# Print the result DataFrame
print(result)

   id             email
0   3  john@example.com

### Another solution

In [27]:
# Define the SQL query
query = """
    -- Implement your solution here
SELECT p1.id, p1.email FROM Person p1, Person p2 
WHERE p1.email = p2.email and p1.id > p2.id
"""

# Execute the SQL query using pandasql
result = sqldf(query, env={'Person': Person})

# Print the result DataFrame
print(result)

   id             email
0   3  john@example.com