# LEET CODE
## Problem-2883: Drop Missing Data
Class: Easy

Source: https://leetcode.com/problems/drop-missing-data/

## Description
DataFrame students
| Column Name | Type   |
|-------------|--------|
| student_id  | int    |
| name        | object |
| age         | int    |

There are some rows having missing values in the name column.

## To Do
Write a solution to remove the rows with missing values.

The result format is in the following example.

## Example

Input:
| student_id | name  | age |
|------------|-------|-----|
| 32         | Piper | 5   |
| 217        | Grace | 19  |
| 779        | None  | 20  |
| 849        | None  | 14  |

Output:
| student_id | name  | age |
|------------|-------|-----|
| 32         | Piper | 5   |
| 217        | Grace | 19  |

Explanation: 
- Students with ids 779 and 849 have empty values in the name column, so they will be removed.

## Importing

In [1]:
import pandas as pd
from typing import List

## Task

In [2]:
def dropMissingData(students: pd.DataFrame) -> pd.DataFrame:
    return students.dropna(subset=['name'], axis=0)

In [3]:
data = {
    'customer_id': [1, 2, 3, 4, 5, 6],
    'name': ['Ella', 'David', 'Zachary', 'Alice', 'Finn', 'Violet'],
    'email': ['emily@example.com', 'michael@example.com', 'sarah@example.com', 'john@example.com', 'john@example.com', 'alice@example.com']
}

df = pd.DataFrame(data)

dropMissingData(df)

   customer_id     name                email
0            1     Ella    emily@example.com
1            2    David  michael@example.com
2            3  Zachary    sarah@example.com
3            4    Alice     john@example.com
4            5     Finn     john@example.com
5            6   Violet    alice@example.com